* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  font-family: "Roboto", sans-serif;
}

:root {
  --header-footer-background-color: #1f2937;
  --hero-main-color: #f9faf8;
  --hero-secondary-color: rgb(138, 137, 137);
  --button-color: #3882f6;
  --info-header-text-color: #1f2937;
}

/* --- HEADER --- */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-footer-background-color);
  flex: 1;
}
.header-upper,
.header-lower {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.group {
  max-width: 900px;
}

/* --- HEADER-UPPER --- */

.header-upper {
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.logo {
  font-size: 24px;
  color: var(--hero-main-color);
}

a {
  text-decoration: none;
}
.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 24px;
}

/* --- HEADER-LOWER --- */

.header-lower {
  gap: 20px;
  padding: 72px 0px;
}

.header-lower .info,
.header-lower img {
  flex: 1;
}
.header-lower img {
  max-width: 50%;
  max-height: 250px;
}
.header-lower input {
  align-self: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}
.info-title {
  font-size: 48px;
  font-weight: 900;
  color: var(--hero-main-color);
}
.info input {
  border: none;
  border-radius: 10px;
  font-weight: 550;
  font-size: 18px;
  color: var(--hero-main-color);
  padding: 8px 30px;
  background-color: var(--button-color);
}

.links a,
.info-description {
  font-size: 18px;
  color: var(--hero-secondary-color);
}

/* --- RANDOM-INFO-SECTION --- */

.random-info-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.random-info-section span:first-child {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: var(--info-header-text-color);

  margin: 48px 0px;
}

/* --- RANDOM-INFO-CONTAINER --- */

.random-info-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 48px;
  flex: 1;

  margin-bottom: 100px;
}

.random-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 160px;
}

.random-info-item img {
  border: 5px solid;
  border-radius: 10px;
  border-color: var(--button-color);

  height: 160px;
  max-width: 160px;
}

.random-info-item span {
  text-align: center;
  color: var(--hero-secondary-color);
  font-size: 18px;
}

/* --- QUOTE-SECTION --- */

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  flex: 1;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin: 100px 50px;
  width: 830px;
}

.quote-text,
.quote-sign {
  color: var(--info-header-text-color);
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-sign {
  font-weight: 900;
  font-size: 23px;
  margin: 0px 32px;
  align-self: flex-end;
}

/* --- ACTION-SECTION --- */

.lighter {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.action-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 100px;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  background-color: var(--button-color);
  border-radius: 5px;
  padding: 50px;
  width: 1000px;
  min-height: 150px;
}

.action-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--hero-main-color);
  font-size: 18px;
}

.action-section input {
  border: 2px solid var(--hero-main-color);
  border-radius: 10px;
  font-weight: 550;
  font-size: 18px;
  color: var(--hero-main-color);
  padding: 8px 30px;
  background-color: var(--button-color);
}

/* --- FOOTER --- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 40px;
  background-color: var(--header-footer-background-color);
  font-size: 18px;
  color: var(--hero-secondary-color);
}
